## Exercice 3 : _Accès aux Bases de Données avec Python_
1. Importer les bibliothèques nécessaires : **_sqlite3_** et **_pandas_**.

In [27]:
import sqlite3
import zipfile
import requests
import gdown
import os
import pandas as pd

In [28]:

file_id = '1KHQZ3gStHb0t7eGBIhtCQWwiLhAuqMfK'
local_zip_path = './data/database.db.zip'

url = f'https://drive.google.com/uc?id={file_id}'
gdown.download(url, local_zip_path, quiet=False)

if os.path.exists(local_zip_path):
    try:
        with zipfile.ZipFile(local_zip_path, 'r') as zip_ref:
            zip_ref.extractall('./data/')
        print("Extraction successful.")
    except zipfile.BadZipFile:
        print("Error: The downloaded file is not a valid ZIP file.")
else:
    print(f"Error: Could not find {local_zip_path}")

Downloading...
From (original): https://drive.google.com/uc?id=1KHQZ3gStHb0t7eGBIhtCQWwiLhAuqMfK
From (redirected): https://drive.google.com/uc?id=1KHQZ3gStHb0t7eGBIhtCQWwiLhAuqMfK&confirm=t&uuid=82268ad9-5ba6-44d0-a7ff-3c8acfbd45ff
To: /home/beryl/PycharmProjects/datascience_exercises/exercise_03/data/database.db.zip
100%|██████████| 402M/402M [01:24<00:00, 4.75MB/s]

Extraction successful.

2. Se connecter à une base de données nommée **_'database\.db'_**.

In [29]:
conn = sqlite3.connect('./data/database.db')

3. Exécuter une requête SQL pour récupérer des données de votre choix.

In [30]:
with conn:
    cursor = conn.cursor()
    cursor.execute("SELECT track_name, artist_name, duration_ms, danceability, energy FROM extracted WHERE danceability > 0.9 AND energy > 0.8 LIMIT 10")
    rows = cursor.fetchall()
    for row in rows:
        print(row)

('Lose Control (feat. Ciara & Fat Man Scoop)', 'Missy Elliott', 226863, 0.904, 0.813)
('In the morning - Version', 'Natural Self', 236746, 0.918, 0.837)
('The Next Episode', 'Dr. Dre', 161600, 0.92, 0.891)
('Hollaback Girl', 'Gwen Stefani', 199906, 0.918, 0.918)
("It's Tricky", 'Run–D.M.C.', 183426, 0.965, 0.857)
('Peanut Butter Jelly Time - Radio', 'Chip-man & The Buckwheat Boyz', 216400, 0.915, 0.877)
('We No Speak Americano - Radio Edit', 'Yolanda Be Cool', 157440, 0.902, 0.805)
('The Motto (Drake feat. Lil Wayne Tribute) [Karaoke', 'The MegaStars Of Hip Hop & R&B Karaoke', 181920, 0.964, 0.961)
('Sippin On Some Syrup', 'Three 6 Mafia', 261133, 0.939, 0.859)
('Jam On It', 'Newcleus', 421893, 0.912, 0.81)

4. Charger les résultats dans un **_DataFrame pandas_**.

In [31]:
df = pd.DataFrame(rows, columns=['track_name', 'artist_name', 'duration_ms', 'danceability', 'energy'])

5. Afficher les cinq (05) premières lignes du **_DataFrame_**.

In [32]:
df.head()

,track_name,artist_name,duration_ms,danceability,energy
0,Lose Control (feat. Ciara & Fat Man Scoop),Missy Elliott,226863,0.904,0.813
1,In the morning - Version,Natural Self,236746,0.918,0.837
2,The Next Episode,Dr. Dre,161600,0.920,0.891
3,Hollaback Girl,Gwen Stefani,199906,0.918,0.918
4,It's Tricky,Run–D.M.C.,183426,0.965,0.857

In [33]:
conn.close()
os.remove(local_zip_path)